   body{
	margin:0 auto;
	background-image: url(image13.jpg);
	background-repeat: repeat;
	background-size:100% 750px;
   }
.container{
	width:500px;
	height:240px;
	text-align:center;
	background-color: rgba(52, 73, 94, 0.7);
	margin:0 auto; 
	border-radius:4px;
	margin-top:150px;
}
.container img{
	width:120px;
	height:120px;
	margin-top:-60px;
	margin-bottom:30px;
}
input {
	height:45px;
	width:300px;
	font-size:18px;
	margin-bottom:20px;
	background-color: #fff;
	padding-left:30px;
}
.form-input ::before{
	content: "\f007";
	position: absolute;
	font-family:"FontAwesome";
	font-size:30px;
}
.btn-login{
	padding:15px 15px;
	cursor:pointer;
	color: #fff;
	border-radius:4px;
	background-color: #0000b3;
	border:10px; solid #06f;
	margin-bottom:20px;
}
a{
	color:#fff;
}

#yvvv{
	color:#fff;
	font-size:15px;
	font-weight: bold;
	font-family:verdana;
}